.flex-center {
  display: flex;
  justify-content: center;
}

.example-card {
  max-width: 350px;
  flex-wrap: wrap;
}

.flex-container {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;

  & > * {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 4px;
    background-color: rgb(255, 220, 220);
  }
}