<ng-container *ngIf="posts$ | async as posts">
  <mat-paginator
    class="flex-center"
    (page)="handlePageEvent($event)"
    [length]="length"
    [pageSize]="pageSize"
    [showFirstLastButtons]="showFirstLastButtons"
    [pageSizeOptions]="pageSizeOptions"
    [pageIndex]="pageIndex"
  >
  </mat-paginator>

  <div class="flex-container">
    <ng-container *ngFor="let post of posts" class="flex-container">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{post.title}}</mat-card-title>
          <mat-card-subtitle>{{post.id}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{post.body}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button
          (click)="handleClick(post)"
          mat-raised-button
          [color]="activatedService.isPostSelected(post.id) ? 'primary' : 'accent'"
        >
          {{ activatedService.isPostSelected(post.id) ? "Deactivate" : "Activate" }}
        </button>
        </mat-card-actions>
      </mat-card>
    </ng-container>
  </div>
</ng-container>
<ng-container *ngIf="error">
  <h2>{{ error }}</h2>
</ng-container>
<ng-container *ngIf="spinner">
  <mat-spinner class="center"></mat-spinner>
</ng-container>

