<mat-paginator
  class="flex-center"
  (page)="handlePageEvent($event)"
  [length]="length"
  [pageSize]="pageSize"
  [showFirstLastButtons]="showFirstLastButtons"
  [pageSizeOptions]="pageSizeOptions"
  [pageIndex]="pageIndex"
>
</mat-paginator>
<mat-grid-list cols="3" rowHeight="6:1">
  <mat-grid-tile *ngFor="let user of users$ | async">
    <div class="card-body">
      <h3 class="card-title">
        <span>id: {{ user.id }}</span>
        <br />
        <span>{{ user.name }}</span>
      </h3>

      <button
        (click)="handleClick(user)"
        mat-raised-button
        [color]="findIncluded(user.id) ? 'primary' : 'accent'"
      >
       {{findIncluded(user.id) ? 'Deactivate' : 'Activate'}}
      </button>
    </div>
  </mat-grid-tile>
</mat-grid-list>
